body {
    background-color: burlywood;
}
.nav {
    background-color: rgb(128,128,128);
    color: rgb(255,255,255);
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

    .nav > li {
        display: inline-block;
        padding: 0 25px 0 25px;
    }

        .nav > li > a {
            text-decoration: none;
            color: #ffffff;
        }

            .nav > li > a:hover {
                color: #C1C1C1
            }